/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 70%;
    margin: 0 auto;
}

#cabecalho{
    background-color: #1a1a1c;
    padding: 1%;
    color: #fff;
    width: 100%;
    height: 120px;
}

#cabecalho h1{
    font-size: 40px;
    text-align: left;
    margin: 0;
    display: flexbox;
}

#cabecalho nav ul{
    list-style: none;
    background-color: #000000;
    padding: 0;
    display: flexbox;
    text-align: right;
}

#cabecalho nav ul li{
    display: inline-block;
    margin: 0 10px;
}

#cabecalho nav ul li a{
    color: #a4b1fc;
    text-decoration: none;
}

#hero{
    text-align: center;
    background-color:rgb(185, 159, 159);
}

#emoji img{
    height: 100px;
    width: 100px
}

#teste{
    background-color:rgb(139, 137, 137);
    display: flexbox;
    border-style: solid;
    border-radius: 1%;
    border-width: 2px;
}
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
}