.hero{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-dark-med);
    color: var(--text-main);
}
.hero_container{
    width: 100%;
    height: 100%;
    padding: 1%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    background-image: linear-gradient(rgba(10, 12, 41, 0.829)), url(../img/img-01-fundo-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero_title{
    text-align: center;
    font-size: var(--titulo-main);
    color: var(--text-title);
    text-transform: uppercase;
}
.hero_text{
    text-align: justify;
    font-size: 2.5rem;
    line-height: 1.5;
}
    