
#cabecalho{
    background-color: #1a1a1c;
    padding: 1%;
    color: #fff;
    width: 95%;
    height: 120px;
    margin: 0 auto;
}

#cabecalho h1{
    font-size: 40px;
    text-align: left;
    margin: 0;
    display: flexbox;
}

#cabecalho nav ul{
    list-style: none;
    background-color: #000000;
    padding: 0;
    display: flexbox;
    text-align: right;
}

#cabecalho nav ul li{
    display: inline-block;
    margin: 0 10px;
}

#cabecalho nav ul li a{
    color: #a4b1fc;
    text-decoration: none;
}

#hero{
    text-align: center;
    background-color: #f4f4f4;
}

#emoji img{
    height: 100px;
    width: 100px
}

#teste{
    background-color: #f4f4f4;
    border-style: solid;
    border-radius: 5%;
    border-width: 2px;
}