/*reset básico*/

/*seletor universal -> seleciona todas as tags*/
*{
    margin: 0;/*propriedades short-hand*/
    padding: 0;
    box-sizing: border-box;/*mantem a largura do real que foi determinado para o elemento*/
}

h1{
    width: 200px;
    height: 100px;
    background-color: red;
    
    border: 10px solid black;/*propriedades short-hand aplica para todos os lados*/  
    /*
    border-top: 2px solid green;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    border-left: 2px solid green;
    */

    /*margin: 10px 20px; top-bottom right-left*/
    margin: 10px 11px 12px 13px;
}
